<!-- <footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        {%- assign page_paths = site.footer_pages -%}
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            <br/>
          {%- endif -%}
        {%- endfor -%}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer> -->

<footer class="footer footer__mobile">

  <div class="container">

        <div class="row footer-content">
          <div class="footer__logo">
            <div class="rubber-footer">
              <img src='{{ "/resources/img/home/graalpy-logo.svg" | relative_url }}' alt="GraalPy logo">
            </div>
          </div>
          <div class="footer__columns">
            <div class="footer__columns-item">
              <h6 class="title-footer" onclick="fadeInAndOut(this)">Learn</h6>
              <div class="grow">
                <ul class="footer-list">
                  <li class="footer-list__item"><a href="{{ '/reference/' | relative_url }}">GitHub Code Repository</a></li>
                  <li class="footer-list__item"><a href="{{ '/guides/' | relative_url }}">Examples Repository</a></li>
                  <li class="footer-list__item"><a href="#">Release Notes</a></li>
                </ul>
              </div>
            </div>
            <div class="footer__columns-item">
              <h6 class="title-footer" onclick="fadeInAndOut(this)">More</h6>
              <div class="grow">
                <ul class="footer-list">
                  <li class="footer-list__item"><a href="#">Contributing</a></li>
                  <li class="footer-list__item"><a href="#">Compatibility</a></li>
                  <li class="footer-list__item"><a href="#">FAQ</a></li>
                  <li class="footer-list__item"><a href="#">License</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-sm-12">
              <p class="copyright">
                Copyright © 2023, 2024. All rights reserved.
            </div>
          </div>

        </div>
  </div>
</footer>

<script>
  function fadeInAndOut(thz) {
    var elmt = thz.nextElementSibling;//Get the element that is below the button that
    //was just clicked
    if (elmt.clientHeight) {
      elmt.style.height = 0;
    } else {
      var wrapper = elmt.querySelector('ul');
      elmt.style.height = wrapper.clientHeight + "px";
    }
    /*
        elmt.classList.toggle("acordianPanelHidden");//Toggle the class which changes
        //attributes which triggers the transition CSS
        */
  }


</script>
