<header class="site-header site--header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="menu__logograalpy" href="{{ "/" | relative_url }}">
      <img src='{{ "/resources/img/home/graalpy-logo.svg" | relative_url }}' alt="GraalPy logo">
    </a>

    {%- if titles_size > 0 -%}
      <nav class="site-nav">
        <div class="menu-toggle" id="mobile-menu-toggle">&#9776;</div>
        <ul class="menu__list">
          <li class="menu__item">
            <a href='{{ "/getting-started/" | relative_url }}' class="menu__link">Getting Started</a>
          </li>
          <li class="menu__item">
            <a href='{{ "/reference/" | relative_url }}' class="menu__link">Docs</a>
          </li>
          <li class="menu__item">
            <a href='{{ "/guides/" | relative_url }}' class="menu__link">Guides</a>
          </li>
          <li class="menu__item">
            <a href='{{ "/examples/" | relative_url }}' class="menu__link">Examples</a>
          </li>
          <li class="menu__item">
            <div class="stack-container">
              <a href="#" class="menu__link stack__header">Graal Products</a>
              <div class="stack-menu">
                <div class="stack-row">
                  <div class="stack-column">
                    <div class="stack__item">
                      <img src='{{ "/resources/img/header/graalstack.svg" | relative_url }}'>
                      <a href="https://graal.cloud/" class="item-line">Graal Stack</a>
                    </div>
                    <div class="stack__item">
                      <img src='{{ "/resources/img/header/graalvm.svg" | relative_url }}'>
                      <a href="https://graalvm.org" class="item-line">GraalVM</a>
                    </div>
                    <div class="stack__item">
                      <img src='{{ "/resources/img/header/gcn.svg" | relative_url }}'>
                      <a href="https://graal.cloud/gcn/" class="item-line">Graal Cloud Native</a>
                    </div>
                    <div class="stack__item">
                      <img src='{{ "/resources/img/header/graalos.svg" | relative_url }}'>
                      <a href="https://graal.cloud/graalos/" class="item-line">GraalOS</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
      </nav>
    {%- endif -%}
  </div>
</header>

