<header class="site-header site--header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="menu__logograalpy" href="{{ "/" | relative_url }}">
      <img src='{{ "/resources/img/home/graalpy-logo.svg" | relative_url }}' alt="GraalPy logo">
    </a>

    {%- if titles_size > 0 -%}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>
        <ul class="menu__list">
          <li class="menu__item">
            <a href='{{ "/about/" | relative_url }}' class="menu__link">About</a>
          </li>
          <li class="menu__item">
            <a href='{{ "/docs/" | relative_url }}' class="menu__link">Docs</a>
          </li>
          <li class="menu__item">
            <div class="stack-container">
              <a href="#" class="menu__link stack__header">Learn</a>
              <div class="stack-menu-learn">
                <div class="stack-row">
                  <div class="stack-column">
                    <div class="stack__item">
                      <img src='{{ "/resources/img/header/guides.svg" | relative_url }}'>
                      <a href='{{ "/guides/" | relative_url }}' class="item-line">Guides</a>
                    </div>
                    <div class="stack__item">
                      <img src='{{ "/resources/img/header/guides.svg" | relative_url }}'>
                      <a href='{{ "/examples/" | relative_url }}' class="item-line">Examples</a>
                    </div>
                    <div class="stack__item">
                      <img src='{{ "/resources/img/header/guides.svg" | relative_url }}'>
                      <a href='{{ "/reference/" | relative_url }}' class="item-line">References</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="menu__item">
            <div class="stack-container">
              <a href="#" class="menu__link stack__header">Graal Products</a>
              <div class="stack-menu">
                <div class="stack-row">
                  <div class="stack-column">
                    <div class="stack__item">
                      <img src='{{ "/resources/img/header/graalstack.svg" | relative_url }}'>
                      <a href="https://graal.cloud/" class="item-line">Graal Stack</a>
                    </div>
                    <div class="stack__item">
                      <img src='{{ "/resources/img/header/graalvm.svg" | relative_url }}'>
                      <a href="https://graalvm.org" class="item-line">GraalVM</a>
                    </div>
                    <div class="stack__item">
                      <img src='{{ "/resources/img/header/gcn.svg" | relative_url }}'>
                      <a href="https://graal.cloud/gcn/" class="item-line">Graal Cloud Native</a>
                    </div>
                    <div class="stack__item">
                      <img src='{{ "/resources/img/header/graalos.svg" | relative_url }}'>
                      <a href="https://graal.cloud/graalos/" class="item-line">GraalOS</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
      </nav>
    {%- endif -%}
  </div>
</header>

