<div>
    <script>
      var scriptElement = document.currentScript;
      var div = $(scriptElement.parentElement);
      $(window).on("load", function() {
        $("#content-wrapper h2").each(function() {
          var li = $("<li></li>", { class: "toc-bullets-sub toc-bullets-sub-3" });
          var a = $("<a></a>", { href: "#" + $(this).attr("id") });
          a.text($(this).text().replace('#', ''));
          // a.text($(this).text();
          li.append(a);
          div.append(li);
        });
      });
    </script>
  </div>
