.docs-content {
    padding-top: 80px;
}
.docs-content p {
    font-size: 16px;
    margin-bottom: 7px;
    color: #171f26;

    &:last-of-type { margin-bottom: 0; }

    code {
        color: rgb(255, 255, 255);
        background: #208086;
        padding: 2px 4px;
        border-radius: 4px;
    }
  }

.toc .h2 {
    font-size: 18px;
    padding: 10px 0px;
    a {
        color: #ffffff;
        text-decoration: none;
        list-style-type: none;
        &:hover {
            color: #AFDEED;
          }
    }
}
.toc .h3 {
    font-size: 18px;
    font-weight: 200;
    line-height: 28px;
    padding: 0px 0px 0px 15px;
    a {
        color: #ffffff;
        text-decoration: none;
        list-style-type: none;
        &:hover {
            color: #AFDEED;
            font-weight: 400;
          }
    }
    font-size: 14px;
    padding-left: 15px;
}
