---
layout: base
---

<article>
  <div class="row">
    <div class="col-sm-3 docsimpro col-bg">
      <div class="sidebar-wrap">
        <div class="sidebar">
          <div class="menuabout">
            <img id="sidebarClose" src='{{ "/resources/img/docs-sidebar/arrow-sidebar(close).svg" | relative_url }}'
              alt="Expand or collapse sidebar" class="btn-color no-display">
            <img id="sidebarOpen" src='{{ "/resources/img/docs-sidebar/arrow-sidebar.svg" | relative_url }}' alt="Expand or collapse sidebar">
          </div>
          <div class="toc-container">
                {% if page.toc %}
                <ul class="toc">
                  {% for item in page.toc %}
                    <li><a href="#{{ item.id }}">{{ item.text }}</a></li>
                  {% endfor %}
                </ul>

              {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-9 docsmod">
      <div id="content-wrapper" class="docs-content docs-content--with-sidebar">
        {{ content }}
      </div>

      <div role="button" class="menu-btn menu-btn--sidebar js-show-sidebar" title="sweet hamburger">
        <div class="hamburger">
          <div class="inner"></div>
        </div>
      </div>
    </div>
  </div>
</article>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var tocContainer = document.querySelector('.toc');
  var contentWrapper = document.querySelector('#content-wrapper');

  if (tocContainer && contentWrapper) {
    var headings = contentWrapper.querySelectorAll('h2, h3');

    if (headings.length > 0) {
      var ul = document.createElement('ul');

      headings.forEach(function (heading) {
        var li = document.createElement('li');
        var a = document.createElement('a');
        a.href = '#' + heading.id;
        a.textContent = heading.textContent;

        li.classList.add(heading.tagName.toLowerCase());

        li.style.listStyleType = 'none';

        li.appendChild(a);
        ul.appendChild(li);
      });

      tocContainer.appendChild(ul);
    } else {
      tocContainer.innerHTML = '<p>No table of contents available.</p>';
    }
  }
});

</script>