---
layout: base
---

<section class="edu">
    <div class="container">
        <div class="home-container">
            <h2 class="edu__title">GraalPy Examples</h3>
                <div class="edu__subtitle">
                    <h5>These examples are designed to help developers get started with GraalPy and discover potential
                        usage
                        scenarios.</h5>
                </div>
        </div>
    </div>
</section>

<section class="edu__body">
    <div class="container">
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Fibonacci
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of a small Python script.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/fibonacci/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Standalone Fibonacci
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of creating a standalone executable from your
                                Python application, using GraalVM Native Image.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/standalone-fibonacci/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Styled Text
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of the <a href="https://www.geeksforgeeks.org/python-ascii-art-using-pyfiglet-module/">Pyfiglet</a> ASCII art package.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/styled-text/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Astronauts
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of using the Python <a href="https://pypi.org/project/requests/"><code class="language-plaintext highlighter-rouge">requests</code></a> module to call a REST API.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/astronauts/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Standalone Astronauts
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of creating a standalone executable from your Python application, using GraalVM Native Image.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/standalone-astronauts/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Currency Exchange
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of using the Python <a href="https://pypi.org/project/requests/"><code class="language-plaintext highlighter-rouge">requests</code></a> and <a href="https://www.crummy.com/software/BeautifulSoup/"><code class="language-plaintext highlighter-rouge">beautifulsoup</code></a> modules to scrape a web page.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/currency-exchange/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Standalone Currency Exchange
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of creating a standalone executable from your Python application, using GraalVM Native Image.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/standalone-currency-exchange/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Pandas DataFrame
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of using the Python <a href="https://pypi.org/project/requests/"><code class="language-plaintext highlighter-rouge">requests</code></a> and <a href="https://pandas.pydata.org/"><code class="language-plaintext highlighter-rouge">pandas</code></a> modules to manipulate data from an open source dataset provided by the US government.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/pandas-dataframe/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Standalone Pandas DataFrame
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of creating a standalone executable from your Python application, using GraalVM Native Image.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/standalone-pandas-dataframe/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Covid Plot
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of the use of <a href="https://matplotlib.org/">Matplotlib</a>, a visualization library for Python, combined with <a href="https://pandas.pydata.org/"><code class="language-plaintext highlighter-rouge">pandas</code></a>, an open source data analysis and manipulation tool.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/covid-plot/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Polynomial Plot
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of the use of <a href="https://matplotlib.org/">Matplotlib</a>, a visualization library for Python, combined with <a href="https://numpy.org/">NumPy</a>, an open source library of mathematical functions.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/polynomial-plot/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Interpolation Plot
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration creating an interpolation plot with the use of <a href="https://matplotlib.org/">Matplotlib</a> (a visualization library for Python), <a href="https://numpy.org/">NumPy</a> (an open source library of mathematical functions), and <a href="https://scipy.org/">SciPy</a> (an open source library for scientific and  technical computing).
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/interpolation-plot/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Machine Learning
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of using <a href="https://scikit-learn.org/stable/"><code class="language-plaintext highlighter-rouge">scikit-learn</code></a> (a free machine learning library for Python) to model a dataset of Iris plants.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/machine-learning/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Standalone Machine Learning
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of creating a standalone executable from your Python application, using GraalVM Native Image.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/standalone-machine-learning/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Standalone Web Server
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of creating a standalone web server, using the Python <code class="language-plaintext highlighter-rouge">http.server</code> module and GraalVM Native Image.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/standalone-web-server/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Standalone Flask Application
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of creating a standalone <a href="https://flask.palletsprojects.com/en/3.0.x/">Flask</a> application, using GraalVM Native Image.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/standalone-flask-application/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>
            <div class="edu__card">
                <div class="edu__row">
                    <div class="edu__card-body">
                        <img src="/resources/img/guides-examples/card-icon.svg">
                        <div>
                            <h4 class="edu__card-title">
                                Standalone SQLite REST Server
                            </h4>
                            <h5 class="edu__card-text">
                                This example provides a demonstration of creating a standalone web server to provide a minimal REST interface to a SQLite database, using the Python <code class="language-plaintext highlighter-rouge">http.server</code> and sqlite modules, and GraalVM Native Image.
                            </h5>
                        </div>
                    </div>
                    <a href='{{ "/examples/standalone-sqlite-rest-server/" | relative_url }}' class="btn edu__btn">Learn More</a>
                </div>
            </div>

    </div>
</section>