---
layout: base
---

<section class="edu">
    <div class="container">
        <div class="home-container">
            <h2 class="edu__title">GraalPy Examples</h3>
            <div class="edu__subtitle">
                <h5>Here you will find Python applications based on most popular Python packages, and see how to create native applications with GraalPy
                </h5>
            </div>
        </div>
    </div>
</section>

<section class="edu__body">
    <div class="container">
        <div class="edu__card">
            <div class="edu__row">
                <div class="edu__card-body">
                    <img src="/resources/img/guides-examples/card-icon.svg">
                    <div>
                        <h4 class="edu__card-title">
                            Astronauts
                        </h4>
                        <h5 class="edu__card-text">
                            This example provides a demonstration of using the Python <a href="https://pypi.org/project/requests/"><code class="language-plaintext highlighter-rouge">requests</code></a> module to call a REST API.
                        </h5>
                    </div>
                </div>
                <a href="https://github.com/graalvm/graalpy-demos/blob/main/Astronauts.md" class="btn edu__btn">Learn More</a>
            </div>
        </div>
        <div class="edu__card">
            <div class="edu__row">
                <div class="edu__card-body">
                    <img src="/resources/img/guides-examples/card-icon.svg">
                    <div>
                        <h4 class="edu__card-title">
                            Covid Plot
                        </h4>
                        <h5 class="edu__card-text">
                            This example provides a demonstration of the use of <a href="https://matplotlib.org/">Matplotlib</a>, a visualization library for Python, combined with <a href="https://pandas.pydata.org/"><code class="language-plaintext highlighter-rouge">pandas</code></a>, an open source data analysis and manipulation tool.
                        </h5>
                    </div>
                </div>
                <a href="https://github.com/graalvm/graalpy-demos/blob/main/Covid_Plot.md" class="btn edu__btn">Learn More</a>
            </div>
        </div>
        <div class="edu__card">
            <div class="edu__row">
                <div class="edu__card-body">
                    <img src="/resources/img/guides-examples/card-icon.svg">
                    <div>
                        <h4 class="edu__card-title">
                            Currency Exchange
                        </h4>
                        <h5 class="edu__card-text">
                            This example provides a demonstration of using the Python <a href="https://pypi.org/project/requests/"><code class="language-plaintext highlighter-rouge">requests</code></a> and <a href="https://www.crummy.com/software/BeautifulSoup/"><code class="language-plaintext highlighter-rouge">beautifulsoup</code></a> modules to scrape a web page.
                        </h5>
                    </div>
                </div>
                <a href="https://github.com/graalvm/graalpy-demos/blob/main/Currency_Exchange.md" class="btn edu__btn">Learn More</a>
            </div>
        </div>
        <div class="edu__card">
            <div class="edu__row">
                <div class="edu__card-body">
                    <img src="/resources/img/guides-examples/card-icon.svg">
                    <div>
                        <h4 class="edu__card-title">
                            Fibonacci
                        </h4>
                        <h5 class="edu__card-text">
                            This example provides a demonstration of a small Python script.
                        </h5>
                    </div>
                </div>
                <a href="https://github.com/graalvm/graalpy-demos/blob/main/Fibonacci.md" class="btn edu__btn">Learn More</a>
            </div>
        </div>
        <div class="edu__card">
            <div class="edu__row">
                <div class="edu__card-body">
                    <img src="/resources/img/guides-examples/card-icon.svg">
                    <div>
                        <h4 class="edu__card-title">
                            Flask Application
                        </h4>
                        <h5 class="edu__card-text">
                            This example provides a demonstration of creating a native <a href="https://flask.palletsprojects.com/en/3.0.x/">Flask</a> application, using GraalVM Native Image.
                        </h5>
                    </div>
                </div>
                <a href="https://github.com/graalvm/graalpy-demos/blob/main/Flask_Application.md" class="btn edu__btn">Learn More</a>
            </div>
        </div>
        <div class="edu__card">
            <div class="edu__row">
                <div class="edu__card-body">
                    <img src="/resources/img/guides-examples/card-icon.svg">
                    <div>
                        <h4 class="edu__card-title">
                            Interpolation Plot
                        </h4>
                        <h5 class="edu__card-text">
                            This example provides a demonstration creating an interpolation plot with the use of <a href="https://matplotlib.org/">Matplotlib</a> (a visualization library for Python), <a href="https://numpy.org/">NumPy</a> (an open source library of mathematical functions), and <a href="https://scipy.org/">SciPy</a> (an open source library for scientific and  technical computing).
                        </h5>
                    </div>
                </div>
                <a href="https://github.com/graalvm/graalpy-demos/blob/main/Interpolation_Plot.md" class="btn edu__btn">Learn More</a>
            </div>
        </div>
        <div class="edu__card">
            <div class="edu__row">
                <div class="edu__card-body">
                    <img src="/resources/img/guides-examples/card-icon.svg">
                    <div>
                        <h4 class="edu__card-title">
                            Machine Learning
                        </h4>
                        <h5 class="edu__card-text">
                            This example provides a demonstration of using <a href="https://scikit-learn.org/stable/"><code class="language-plaintext highlighter-rouge">scikit-learn</code></a> (a free machine learning library for Python) to model a dataset of Iris plants.
                        </h5>
                    </div>
                </div>
                <a href="https://github.com/graalvm/graalpy-demos/blob/main/Machine_Learning.md" class="btn edu__btn">Learn More</a>
            </div>
        </div>
        <div class="edu__card">
            <div class="edu__row">
                <div class="edu__card-body">
                    <img src="/resources/img/guides-examples/card-icon.svg">
                    <div>
                        <h4 class="edu__card-title">
                            Pandas DataFrame
                        </h4>
                        <h5 class="edu__card-text">
                            This example provides a demonstration of using the Python <a href="https://pypi.org/project/requests/"><code class="language-plaintext highlighter-rouge">requests</code></a> and <a href="https://pandas.pydata.org/"><code class="language-plaintext highlighter-rouge">pandas</code></a> modules to manipulate data from an open source dataset provided by the US government.
                        </h5>
                    </div>
                </div>
                <a href="https://github.com/graalvm/graalpy-demos/blob/main/Pandas_DataFrame.md" class="btn edu__btn">Learn More</a>
            </div>
        </div>
        <div class="edu__card">
            <div class="edu__row">
                <div class="edu__card-body">
                    <img src="/resources/img/guides-examples/card-icon.svg">
                    <div>
                        <h4 class="edu__card-title">
                            Polynomial Plot
                        </h4>
                        <h5 class="edu__card-text">
                            This example provides a demonstration of the use of <a href="https://matplotlib.org/">Matplotlib</a>, a visualization library for Python, combined with <a href="https://numpy.org/">NumPy</a>, an open source library of mathematical functions.
                        </h5>
                    </div>
                </div>
                <a href="https://github.com/graalvm/graalpy-demos/blob/main/Polynomial_Plot.md" class="btn edu__btn">Learn More</a>
            </div>
        </div>
        <div class="edu__card">
            <div class="edu__row">
                <div class="edu__card-body">
                    <img src="/resources/img/guides-examples/card-icon.svg">
                    <div>
                        <h4 class="edu__card-title">
                            SQLite REST Server
                        </h4>
                        <h5 class="edu__card-text">
                            This example provides a demonstration of creating a native web server to provide a minimal REST interface to a SQLite database, using the Python <code class="language-plaintext highlighter-rouge">http.server</code> and sqlite modules, and GraalVM Native Image.
                        </h5>
                    </div>
                </div>
                <a href="https://github.com/graalvm/graalpy-demos/blob/main/SQLite_REST_Server.md" class="btn edu__btn">Learn More</a>
            </div>
        </div>
        <div class="edu__card">
            <div class="edu__row">
                <div class="edu__card-body">
                    <img src="/resources/img/guides-examples/card-icon.svg">
                    <div>
                        <h4 class="edu__card-title">
                            Styled Text
                        </h4>
                        <h5 class="edu__card-text">
                            This example provides a demonstration of the <a href="https://www.geeksforgeeks.org/python-ascii-art-using-pyfiglet-module/">Pyfiglet</a> ASCII art package.
                        </h5>
                    </div>
                </div>
                <a href="https://github.com/graalvm/graalpy-demos/blob/main/Styled_Text.md" class="btn edu__btn">Learn More</a>
            </div>
        </div>
        <div class="edu__card">
            <div class="edu__row">
                <div class="edu__card-body">
                    <img src="/resources/img/guides-examples/card-icon.svg">
                    <div>
                        <h4 class="edu__card-title">
                            Web Server
                        </h4>
                        <h5 class="edu__card-text">
                            This example provides a demonstration of creating a native web server to provide a minimal REST interface to a SQLite database, using the Python <code class="language-plaintext highlighter-rouge">http.server</code> and sqlite modules, and GraalVM Native Image.
                        </h5>
                    </div>
                </div>
                <a href="https://github.com/graalvm/graalpy-demos/blob/main/Web_Server.md" class="btn edu__btn">Learn More</a>
            </div>
        </div>
    </div>
</section>