---
layout: base
---

<section class="edu">
    <div class="container">
        <div class="home-container">
            <h2 class="edu__title">Embedded Python Examples</h3>
            <div class="edu__subtitle">
                <h5></h5>
            </div>
        </div>
    </div>
</section>

<section class="edu__body">
    <div class="container">
        <div class="edu__card">
            <div class="edu__row">
                <div class="edu__card-body">
                    <img src="/resources/img/guides-examples/card-icon.svg">
                    <div>
                        <h4 class="edu__card-title">
                            Notebook
                        </h4>
                        <h5 class="edu__card-text">
                            This example demonstrates how to use GraalPy to embed Python code in a Java desktop application. 
                            It uses Maven to build the application.
                        </h5>
                    </div>
                </div>
                <a href="https://github.com/graalvm/graalvm-demos/tree/master/graalpy-notebook-example" class="btn edu__btn">Learn More</a>
            </div>
        </div>
        <div class="edu__card">
            <div class="edu__row">
                <div class="edu__card-body">
                    <img src="/resources/img/guides-examples/card-icon.svg">
                    <div>
                        <h4 class="edu__card-title">
                            Chat
                        </h4>
                        <h5 class="edu__card-text">
                            This example demonstrates how to use GraalPy to embed Python code in a Micronaut application.
                            It uses Gradle to build the application.
                        </h5>
                    </div>
                </div>
                <a href="https://github.com/graalvm/graalvm-demos/tree/master/polyglot-chat-app" class="btn edu__btn">Learn More</a>
            </div>
        </div>

    </div>
</section>